.main-paragraph {
    color: blue;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-indent: 40px;
}

.minor-header {
    color: green;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    text-align: center;
    
}

.header {
    color:red;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    text-align: center;
}

.img1,.img2,.img3,.img4 {
    image-rendering: auto;   
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img1 {
    width: 250px;
    height: 350px;
}

.img2 {
    width: 700px;
    height: 500px;
}

.img3 {
    width: 400px;
    height: 500px;
}

.img4 {
    width: 600px;
    height: 500px;
}


