.main-paragraph {
    color: blue;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-indent: 40px;
}

.minor-header {
    color: green;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    text-align: center;
    
}

.header {
    color:red;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    text-align: center;
}
/* This img selector is not implementing the properties and only god knows why.
- Tried using an ID selector to get around specificity, but I have the same problem
- Other selectors implement their properties just fine.
-  */

img {
    image-rendering: auto;   
    width: 500px;
    height: 350px;
    float: calc(50);
}

