.main-paragraph {
    color: blue;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-indent: 40px;
}

.minor-header {
    color: green;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    text-align: center;
    
}

.header {
    color:red;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    text-align: center;
}

img {
    image-rendering: auto;   
    width: 400px;
    height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.gradient {
    height: 100px;
    background-color: red;
    background-image:
      linear-gradient(
        to right, 
        red, #f06d06
      );
}
